.page-section {
  padding: 4rem 0;
}

.about-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 900px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}